{% extends 'base.html.twig' %}
{% block extra_stylesheets %}
<link rel="stylesheet" href="css/recrutement.css" />{% endblock %}
{% block title %}recrutement{% endblock %}



{% block body %}
<form action='{{ path('app_recrutement')}}' method="post">
 

    <div class="mb-3">
        {{form_label(form.nom)}}
        {{form_widget(form.nom)}}
        {{form_errors(form.nom)}}
    </div>
    <div class="mb-3">
        {{form_label(form.prenom)}}
        {{form_widget(form.prenom)}}
        {{form_errors(form.prenom)}}
    </div>
    <div class="mb-3">
        {{form_label(form.age)}}
        {{form_widget(form.age)}}
        {{form_errors(form.age)}}
    </div>
    <div class="mb-3">
        {{form_label(form.mail)}}
        {{form_widget(form.mail)}}
        {{form_errors(form.mail)}}
    </div>
    <div class="mb-3">
        {{form_label(form.telephone)}}
        {{form_widget(form.telephone)}}
        {{form_errors(form.telephone)}}
    </div>
    <div class="mb-3">
        {{form_label(form.adresse)}}
        {{form_widget(form.adresse)}}
        {{form_errors(form.adresse)}}
    </div>
    <div class="mb-3">
        {{form_label(form.posteCandidate)}}
        {{form_widget(form.posteCandidate)}}
        {{form_errors(form.posteCandidate)}}
    </div>
    <div class="mb-3">
        {{form_label(form.diplomes)}}
        {{form_widget(form.diplomes)}}
        {{form_errors(form.diplomes)}}
    </div>
    <div class="mb-3">
        {{form_label(form.experiences)}}
        {{form_widget(form.experiences)}}
        {{form_errors(form.experiences)}}
    </div>
    <br>
    <button type="submit" class="btn btn-primary mt-5 float-end">valider votre candidature</button> {#float-end indique que le txte va allé
    à droite#}
    <a href="{{ path('app_home')}}" class="btn btn-primary mt-5 float-start">annuler</a> {# 'app_note' page sur
    laquelle on retourn et qui correspond au nom de la route dans Notecontroller #}

    {{form_widget(form._token)}} {#token de sécurité c'est obligatoire pour faire valider les données par symfony, la
    ligne est a copier tel quel avant la fermeture de la balise form à chaque fois que je fait un formulaire.#}
    {% if app.flashes('success') %}
    <div class="alert alert-success">
        {{ app.flashes('success')[] }}
    </div>
{% endif %}
</form>
{% endblock %}