{% extends 'base.html.twig' %} {% block extra_stylesheets %}
<link rel="stylesheet" href="{{ asset('css/_reservation.css') }}" />
{% endblock %} {% block title %}réserver!{% endblock %} {% block body %}

<main id="reservation-page">
  <h1>Reservations</h1>

  {{ form_start(form) }}

  {{ form_label(form.date) }}
  {{ form_widget(form.date) }}
  {{ form_errors(form.date) }}
  {{ form_label(form.equipement) }}
  {{ form_widget(form.equipement) }}
  {{ form_errors(form.equipement) }}
  <button class="cta big-btn" type="submit">Envoyer</button>
  {{ form_end(form) }}
</main>

{% endblock %} {% block extra_scripts %}
<script src="{{ asset('scripts/resa_modal.js') }}"></script>
{% endblock %}
